Plumbing_2.json
{
  "name": "Plumbing 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        280,
        0
      ],
      "id": "9339d5b8-7859-4ecf-a44b-93c3456b274a",
      "name": "Webhook",
      "webhookId": "28e039f9-0052-472d-9d7f-8a8015e704dd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "903884a3-2567-4166-b1e8-8ff197591cab",
              "name": "Name",
              "value": "={{ $json.body.Name }}",
              "type": "string"
            },
            {
              "id": "16f87430-fabf-4574-9509-7dd0bcd162a3",
              "name": "RequestedService",
              "value": "={{ $json.body.RequestedService }}",
              "type": "string"
            },
            {
              "id": "a2024d78-3903-4776-b6e4-4a96c18a47b2",
              "name": "Price",
              "value": "={{ $json.body.Price }}",
              "type": "string"
            },
            {
              "id": "493d0fb1-2f14-42e2-a101-99d7dbf99695",
              "name": "CustomerID",
              "value": "={{ $json.body.CustomerID }}",
              "type": "string"
            },
            {
              "id": "8b7be467-bae1-424e-96ad-c8d20b232887",
              "name": "quoteId",
              "value": "={{ $json.body.quoteId }}",
              "type": "string"
            },
            {
              "id": "fe842cf1-9672-40cf-9494-7f0483998464",
              "name": "fulfillmentText",
              "value": "={{ $json.body.fulfillmentText }}",
              "type": "string"
            },
            {
              "id": "309a83f4-50e5-41aa-8841-f26038d56a54",
              "name": "body.Email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        200
      ],
      "id": "e8403ded-33ea-437f-bf80-95337440bad3",
      "name": "Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Syg9uh8RoV5BiXFsbDhfGvKlHZGrTxyc6FTau7cuvLI",
          "mode": "list",
          "cachedResultName": "Pipepal_plumbing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Syg9uh8RoV5BiXFsbDhfGvKlHZGrTxyc6FTau7cuvLI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Syg9uh8RoV5BiXFsbDhfGvKlHZGrTxyc6FTau7cuvLI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.Name }}",
            "Timestamp": "={{ new Date().toISOString() }}",
            "RequestedService": "={{ $json.body.RequestedService }}",
            "CustomerID": "={{ $json.body.CustomerID }}",
            "QuoteID": "={{ $json.body.quoteId }}",
            "Status": "Lead Captured",
            "Email": "={{ $json.body.Email }}",
            "TotalPrice": "={{ $json.body.TotalPrice }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RequestedService",
              "displayName": "RequestedService",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomerID",
              "displayName": "CustomerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QuoteID",
              "displayName": "QuoteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TotalPrice",
              "displayName": "TotalPrice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        860,
        0
      ],
      "id": "d44880bb-af51-41a7-bb50-9bcf54e6bfaa",
      "name": "Log Lead",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bFwu27MS4uXSkeks",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your Plumbing Quote from PipePal 💧",
        "message": "=<p>Hi {{ $json.Name }},</p>\n<p>Here is your personalized quote:</p>\n<ul>\n  <li><strong>Service:</strong> {{ $json.RequestedService }}</li>\n  <li><strong>Customer ID:</strong> {{ $json.CustomerID }}</li>\n  <li><strong>Quote ID:</strong> {{ $json.QuoteID }}</li>\n  <li><strong>Price:</strong> ${{ $json.TotalPrice }}</li>\n</ul>\n<p>Would you like to <a href=\"https://calendar.google.com/calendar/u/0/r/day\">book an appointment</a>?</p>\n<p>Thank you,<br/>PipePal Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        0
      ],
      "id": "8a67ad4a-10c6-4d2f-83a5-ebc34359fc4b",
      "name": "Notify Customer",
      "webhookId": "9311bfb6-3103-4ce9-8cc1-29435b9999f3",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "fKNbR1kNrWmdyi6G",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Lead": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d19395db-5117-404b-a66c-8226ab84b0d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c095dcf7cddb4239e44d8e388e62e5b151a1b357759a99b34acdfbd983b4b111"
  },
  "id": "FMfQ4MGMy2iMQqX5",
  "tags": []
}